<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.activitylifetime">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".lesson4.MyContentProvider"
            android:authorities="com.example.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".lesson4.TestPermissionActivity" />
        <activity android:name=".lesson3.Lesson3FragmentActivity" />
        <activity android:name=".lesson3.MyRecylerViewActivity" />
        <activity android:name=".demoActivity.DemoActivity" />
        <activity android:name=".TestJavaActivity" />
        <activity android:name=".lesson3.MyListViewActivity" />
        <activity android:name=".lauchmode.Activity3" />
        <activity
            android:name=".lauchmode.Activity2"
            android:launchMode="singleInstance" />
        <activity
            android:name=".lauchmode.Activity1"
            android:launchMode="standard" />
        <activity
            android:name=".ThirdActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>